# Ignore Python-related files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore environment files
.env

# Ignore database files
*.db
*.sqlite3

# Ignore OS-specific files
.DS_Store
Thumbs.db
